body{
    background-color: #0066cb;
}

#form{
    font: 500 1rem 'Calibri Light';
    color: #fff;
    background-color: #0066cb;
    width: 25%;
    margin: 10px auto;
    padding: 50px;
}

#heading{
    font-size: 40px;
    font: 'Calibri Light';
}

#user{
    width: 100%;
    height: 30px;
}

#pass{
    width: 100%;
    height: 30px;
}

#btn{
    font-size: 14px;
    text-shadow: 1px 1px 1px #4295a6;
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #4aacc5;
    outline: none;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px 3px #05478f;
}

#btn:hover{
    background-color: #4295a6;
}

#btn:active{
    transform: scale(0.9);
}

@media screen and (max-widt: 700px){
    #form {
            width: 65%;
            padding: 40px;
    }
}